.container {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

  #board {
    display: inline-block;
  
    .div {
      display: flex;
  
      .square {
        height: 85px;
        width: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        
        p {
          font-size: 75px;
          margin: 0 auto;
          padding: 0;
          cursor: grab;
        }
        .white {
          color: white;
          -webkit-text-stroke: 1px black;
        }
        .black {
          color: black;
          -webkit-text-stroke: 1px white;
        }
      }
      .white-square {
        background-color: white;
      }
      .black-square {
        background-color: black;
      }
      .available {
        transition: background-color 0.3s ease-in-out;
        background-color: blue;
      }
      .enemy {
        transition: background-color 0.3s ease-in-out;
        background-color: red;
      }
    }
  }
  .capture {
    height: 680px;
    width: 67px;

    p {
      font-size: 75px;
      margin: 0 auto;
      padding: 0;
      cursor: grab;
    }
  }
}